* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
}
body h1 {
  text-align: center;
}
#dag {
  text-transform: uppercase;
}
#datum {
  color: #7a141b;
}
@media only screen and (max-width: 320px) {
* {
  font-size: 1.5rem;
  text-align: center;
}
body {
  width: 100vw;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 80vw;
  height: 70vh;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#digitalClock {
  color: #ff4444;
  font-size: 2.5rem;
}
}

@media only screen and (min-width: 321px) and (max-width: 720px) {
* {
  text-align: center;
  color: white !important;
}
main {
  padding: 1em;
  width: 80vw;
  height: 70vh;
  border: 2px solid #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 4rem;
}
#digitalClock {
  font-size: 5rem;
}
}

@media only screen and (min-width: 721px) and (max-width: 1024px) {
main {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 65vh;
  padding: 1em;
  background-color: rgba(0,0,0,.6);
  /*box-shadow: 0px 4px 30px 5px #911818;*/
}
h1 {
  font-size: 6rem;
}
section {
  font-size: 7rem;
}
h2 {
  font-size: 3rem;
}
}

@media only screen and (min-width: 1025px) {
main {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 75vh;
  background-color: #fff;
/*  box-shadow: 0px 4px 30px 5px #911818;*/
}
h1 {
  font-size: 6rem;
}
section {
  font-size: 8rem;
}
h2 {
  font-size: 2rem;
}
}
